<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script>

    const input_format_moment = "MMM DD, YYYY"
    const output_format_moment = "MMM YYYY"

    duration_elements = document.getElementsByClassName("duration-inner")
    for (const index in duration_elements) {
        duration_element = duration_elements[index].innerHTML.split("-")
        start_date = moment(duration_element[0], input_format_moment)
        let stop_date
        let is_present = false
        if (duration_element[1] === "Present") {
            stop_date = moment()
            is_present = true
        } else {
            stop_date = moment(duration_element[1], input_format_moment)
        }

        const time_diff = moment(stop_date).subtract(start_date).add(1, "days").toObject()

        let duration_year = time_diff.years - 1970
        let duration_month = time_diff.months
        if (duration_year == 0) {
            duration_year = ""
        } else {
            duration_year = `${duration_year.toString()} ${duration_year > 1 ? "yrs" : "yr"}`
        }

        if (duration_month == 0) {
            duration_month = ""
        } else {
            duration_month = `${duration_month.toString()} ${duration_month > 1 ? "mos" : "mo"}`
        }

        const time_diff_formated = `${duration_year} ${duration_month}`
        duration_elements[index].innerHTML = `${start_date.format(output_format_moment)} - ${!is_present ? stop_date.format(output_format_moment) : "Present"} . ${time_diff_formated}`
    }

</script>